
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #6C63FF, #1E90FF);
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.user{
    color: #fff;
    float: right;

}